<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>

<form th:method="POST"  th:action="@{/admin/new}" th:object="${person}">
  <label for="name">Enter name: </label>
  <input type="text" th:field="*{name}" id="name"/>
  <label for="email">Enter email: </label>
  <input type="text" th:field="*{email}" id="email"/>
  <label for="password">Enter password: </label>
  <input type="text" th:field="*{password}" id="password"/>
  <br/>
  <br/>
  <label>Права доступа:
    <select size="2" multiple name="roles" required="required">
      <option  value="1">USER</option>
      <option selected="selected" value="2">ADMIN</option>
    </select>
  </label>

<!--  <label>-->
<!--  <select multiple="multiple" th:value="${person.roles}" name="roles">-->
<!--    <option th:value="${roles.get(0)}" th:text="USER"></option>-->
<!--    <option th:value="${roles.get(1)}" th:text="ADMIN"></option>-->
<!--  </select>-->
<!--</label>-->
  <br/>
  <input type="submit" value="Create!"/>
</form>
<br/>
<br/>
<a th:href="@{/logout}"><input type="button" id="logoutButton" value="Exit"></a>

</body>
</html>